@charset "utf-8";
@media screen and (max-width: 600px){

/*기본설정*/

.s0 {
    background-image: url(../image/background_phone.png);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.s1 {
    background-image: url(../image/background_2_phone.png);
}

.s2 {
    background-image: url(../image/background_3_phone.png);
}

.s3 {
    background-image: url(../image/background_4_phone.png);
}

/*기본설정*/

/*memu,header 설정*/

div#cls>i,div#memu {
    margin-top: 4vh;
    margin-left: 10px;
}
nav#gnb {
    width: 300px;
}
nav#gnb>ul li.mainLi {
    display: block;
    width: 300px;
    height: 20vh;
}

nav#gnb>ul>li.mainLi>a {
    font-size: 35px;
    line-height: 20vh;
}

/* nav#gnb 끝 */


/* header#header 시작 */

header#header div#logo img {
    width: 24vw;
    height: 8vh;
    margin-left: -10px;
}



.s0 p {
    margin-top: 10vh;
    height: 40vh;
    line-height: 40vh;
    font-size: 40px;
}

.section .tbl {
    position: relative;
    width: 76vw;
    height: 70vh;
    padding-top: 0vh;
}

.section .tbl .tblUl {
    width: 80vw;
    height: 28vh;
    position: absolute;
    margin-top: 43vh;
}

.section .tbl .tblUl li {
    margin-top: 5px;
}

.section .tbl .PageN {
    font-size: 5vmin;
    line-height: 5vmin;
}
.section .tbl .WebN {
    font-size: 4vmin;
}

.section .tbl .SubN {
    font-size: 3vmin;
}

.section .tbl .BlankN {
    display: block;
    width: 50vw;
    height: 40px;
    line-height: 40px;
}


.section .tbl img {
    width: 76vw;
    height: 40vh;
    position: absolute;
}








}